@import "reset"


html,body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
   font-weight: 300;
   height: 100%;
   width:100%;
   overflow:hidden;
}

div {
  vertical-align: middle;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color : rgb(98, 98, 98);
}


span {
 display: inline-block;
 vertical-align: middle;
 text-align:center;
 line-height:normal;
}


// @import "fixed-data-table.css"
